
.header {
    font-family: 'Roboto', sans-serif;
    background-color: #1F2937;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin : 0;
    padding-left: 48px;
    padding-right: 32px;

}

.header.logo{
    font-size: 24px;
    color: #F9FAF8;
}




.header ul{
    font-size: 18px;
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
    gap: 16px;
}

.header a{
    color : #E5E7EB;
    text-decoration: none;
}

