body{
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.hero{
    background-color: #1F2937;
    display: flex;
    flex-direction: column;
    margin: 0;
    
}

.header {

    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;   
    gap: 220px;
    margin-bottom: 100px;

}

.header.logo{

    font-size: 24px;
    color: #F9FAF8;
}




.header ul{
    font-size: 18px;
    list-style-type: none;
    display: flex;
    justify-content: center;
    gap: 16px;
}

.header a{
    color : #E5E7EB;
    text-decoration: none;
}


.content1{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-bottom: 40px;
}

.content1 .left-part{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap:10px;
}

.content1 .left-part .main-text{
    color: #F9FAF8;
    font-size: 48px;
    font-weight: 900;
}

.content1 .left-part .subtext{
    
    color : #E5E7EB;
    font-size: 18px;
}

button.signup {
    background-color: #3882f6;
    color : #E5E7EB;
    align-content: center;
    border: 1px solid royalblue;
    padding: 5px 20px;    
}

.content2{
    display:flex;
    flex-direction: column;
}

.content2 .heading{
    font-size: 36px;
    color:#1F2937;
    font-weight: 900;
    text-align: center;
    margin: 20px;
}

.content2 .container{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 30px;
}

.content2 .container .info{
    max-width: 200px;
}

.quote-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 32px;
    margin-bottom: 32px;
    padding: 64px;
    background-color: #E5E7EB;

}

.quote-container .text{
    font-size: 36px;
    font-weight: 300; 
}

.quote-container .author{
    font-weight: 600;
    text-align: right;
}

.modal{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color : #E5E7EB;
    background-color: #3882f6;
    margin: 64px;
    padding: 16px;
    gap:100px;
}

.modal .left-side{

    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

.footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-color: #1F2937;
    color: white;

    padding: 32px;
       
}







